@model ExamenFinal01.Models.Catedratico

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Catedratico</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombresCatedratico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombresCatedratico)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApellidosCatedratico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApellidosCatedratico)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoCatedratico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstadoCatedratico)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CodigoCatedratico">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
